##### Problem statement
Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

##### Problem Statement :
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?

Print count of number of attacks in that city as integer value.

##### Note:
Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

###### Output Format :
City NumberOfAttack Group

In [76]:
import pandas as pd
import numpy as np
terror = pd.read_csv('C:/Users/5530/OneDrive/Desktop/Data_Analytics/Data-Analytics/Terrorist_data/terrorismData.csv')
df = terror.copy()
# df.head(2)

df=df[df['State']=='Jammu and Kashmir']
df=df[df['City']==df['City'].describe().top]
count = df.shape[0]
# print(count)

df=df[df['Group']!='Unknown']
city = df['Group'].describe().top
ity = df['City'].describe().top
print(ity,count,city)

Srinagar 657 Muslim Separatists

Second Method to Proceed with the DataFrame

In [77]:
import pandas as pd
import numpy as np
terror = pd.read_csv('C:/Users/5530/OneDrive/Desktop/Data_Analytics/Data-Analytics/Terrorist_data/terrorismData.csv')
df = terror.copy()
df.head(2)

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown

In [86]:
jk_dta = df[df['State']=='Jammu and Kashmir']

most_danger_city = jk_dta['City'].value_counts().idxmax()
# print(most_danger_city)
most_danger_city_VALUE = jk_dta['City'].value_counts().max()
# print(most_danger_city_VALUE)

jk_dta=jk_dta[jk_dta['City']==most_danger_city]

jk_data_value = jk_dta[jk_dta['Group']!= 'Unknown']
data=jk_data_value['Group'].value_counts().idxmax()

print(data,most_danger_city,most_danger_city_VALUE)

Muslim Separatists Srinagar 657